{% extends 'base.html.twig' %}

{% block title %}
    Résultat de la recherche
{% endblock %}

{% block body %}

    <section class="container">
        {{ dump(books) }}
    </section>
    <section class="container">
        <h1>Résultat de la recherche</h1>
        <p>Rappel de votre recherche : <strong>{{ expression }}</strong></p>
        {%for book in books %}
            <ul>
                <li> <a href="{{ path('homepage') ~ 'book/' ~ book.slug}}  ">{{book.title}}</a> ( {{book.reference}} ) </li>
            </ul>
        {%endfor %}   
    </section>

{% endblock %}